
.container {
    margin-left: 20px; 
  margin-right: 28px;
  max-width: 1574px; 
  width: 100%;
  max-width: rem(1586);
  
  box-sizing: border-box;
  margin-bottom: rem(40); 
  margin-left: auto;
  margin-right: auto;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  white-space: nowrap; 
  font-size: rem(36);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: rem(20);
}


.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(20); 
  .sectionTitle {
    margin-bottom: 0;
  }
}

.controlsGroup {
  display: flex;
  gap: rem(12);
}

.navButton {
  width: rem(30);
  height: rem(30);
  border-radius: 50%;
  border: none;
  background-color: #3E30E9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s;
  padding: 0;

  &:hover {
    opacity: 0.8;
  }
}



