.container {
  position: relative;
  display: inline-block;
  user-select: none;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  column-gap: rem(5);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ffff;
  font-family: inherit;
  font-size: rem(16);
  padding: rem(5);
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.langCode {
  font-weight: 500;
  margin: 0 rem(2);
  min-width: rem(20); 
  text-align: center;
}

.flag {
  border-radius: rem(4);
  object-fit: cover;
}

.arrow {
  transition: transform 0.3s ease;
  
  &.rotated {
    transform: rotate(180deg);
  }
}

.dropdown {
  position: absolute;
  bottom: 100%; 
  right: 0;
  min-width: rem(110); 
  width: max-content;  
  background-color: #3b3b6d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: rem(8);
  padding: rem(4); 
  margin-bottom: rem(8); 
  list-style: none;
  z-index: 100;
  box-shadow: 0 rem(-4) rem(12) rgba(0, 0, 0, 0.3); 
  overflow: hidden;

  &Item {
    display: flex;
    align-items: center;
    column-gap: rem(8); 
    
   
    padding: rem(6) rem(8); 
    
    color: #fff;
    cursor: pointer;
    border-radius: rem(4);
    transition: background 0.2s;
    font-size: rem(14); 

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &Flag {
    border-radius: rem(2);
    object-fit: cover;
   
    width: rem(24);
    height: auto;
  }
}