.publicChat {
    background-color: #3B4A74;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: rem(375);
    z-index: 10;
    border-radius: rem(12);
    border: 1px solid #C7F5FC;
    padding: rem(15) rem(15) 0 rem(15);
    width: 100%;
}

.publicChatHeader {}

.publicChatHeaderLeft {}

.test-img {
    border-radius: rem(8);
}

.publicChatHeaderRight {
    max-width: rem(74);
}

.publicChatUserName {
    color: var(--white);
}

.publicChatLanguage {
    background: transparent;
    border: none;
    color: transparent !important;
    caret-color: transparent !important;
}