.supportChat {
    padding: rem(10) rem(16) rem(16) rem(15);
    border-top: rem(1) solid var(--cyan-100);
    border-left: rem(1) solid var(--cyan-100);
}

.supportChatHeader {
    display: flex;
}

.supportChatTitle {
    font-family: var(--font-roboto);
    font-size: rem(18);
    font-weight: 400;
    color: var(--white);
}