.footer {
  background: linear-gradient(180deg, rgba(116, 96, 238, 0.8) 0%, rgba(88, 76, 237, 0.6) 100%);
  margin-top: rem(168);
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: rem(42);
    padding-bottom: rem(70);

    // ЛЕВАЯ ЧАСТЬ
    &-left {
      display: flex;
      flex-direction: column;
      row-gap: rem(28);
    }

    &-innerLogo {
      width: rem(100);
      height: rem(108);
    }

    &-inner {
      width: rem(100);
      height: rem(108);
    }

    &-innerСurrencyList {
      display: flex;
      column-gap: rem(24);
    }

    &-innerСurrencyItem {
      display: flex;
      flex-direction: column;
      row-gap: rem(9);
      align-items: center;
    }

    &-innerСurrencyItemCrupto {
      width: rem(38);
      height: rem(38);
    }

    &-innerСurrencyItemName {
      font-size: rem(18);
      font-weight: 700;
      letter-spacing: 0;
      line-height: normal;
      color: #ffff;
    }

    &-wrapper-innerLoginandTranslat {
      display: flex;
      column-gap: rem(19);
    }

    &-innerLoginandTranslat {
      align-items: center;
      display: flex;
      column-gap: rem(19);
    }

    &-innerLogin {
      border-radius: rem(100);
      border: rem(1) solid #C7F5FC;
      padding: rem(14) rem(42);
      background: linear-gradient(90deg, #3E45BE 0%, #795DD7 100%);
      color: #FFFFFF;
      font-size: rem(18);
      font-weight: 400;
      letter-spacing: 1%;
      line-height: normal;
      display: flex; // Добавлено для центрирования текста
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &-innerLoginText {
      color: inherit;
      text-decoration: none;
    }

    // ПРАВАЯ ЧАСТЬ
    &-right {
      display: flex;
      column-gap: rem(184);
    }

    &-rightPathnameList {
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
    }

    &-rightPathnameItem {
      color: #ffff;
      font-size: rem(16);
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0;
      text-decoration: none;
    }

    &-rightPathnameListSocials {
      display: flex;
      flex-direction: column;
      row-gap: rem(20);
      max-width: rem(50);
      max-height: rem(50);
    }
  }
}

// ГЛАВНОЕ ИСПРАВЛЕНИЕ ЗДЕСЬ
.container {
  margin-left: auto;   // Автоматический отступ слева
  margin-right: auto;  // Автоматический отступ справа
  width: 100%;         // Растягиваться на всю доступную ширину
  max-width: rem(1586); // Но не шире 1586 (конвертировано в rem)
  padding-left: rem(100);  // Отступы безопасности для мобильных

  box-sizing: border-box;
}