.supportChat {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: rem(10) rem(16) rem(16) rem(15);
    border-top: rem(1) solid var(--cyan-100);
    border-left: rem(1) solid var(--cyan-100);
    max-width: rem(375);
    width: 100%;
    background: var(--gradient-main);
    border-radius: rem(10);
    height: rem(720);
}

.supportChatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.supportChatHeaderLeft {
    display: flex;
    gap: rem(10);
    align-items: center;
}

.supportChatTitleWrapper {
    display: flex;
    flex-direction: column;
    font-family: var(--font-roboto), Roboto, sans-serif;
    color: var(--white);
    font-weight: 400;

}

.supportChatTitle {
    font-size: rem(20);
}

.supportChatTitleOnline {
    font-size: rem(11);
    padding-left: rem(12);
    position: relative;
}

.supportChatTitleOnline::before {
    content: '';
    position: absolute;
    background-image: url('/assets/icons/green-boll.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: rem(7);
    height: rem(7);
}

.supportChatContent {

    &>img {
        border-radius: 999px;

    }
}

.supportChatMessageWrapper {
    display: flex;
    align-items: center;
    gap: rem(10);

    &>img {
        width: rem(40);
        height: rem(40);
    }
}

.supportChatMessage {
    background-color: #D9D9D9;
    padding: rem(10);
    position: relative;
    font-size: rem(13);
    border-radius: rem(10);
}


.supportChatMessage::before {
    content: "";
    position: absolute;

}

.supportChatSendMessageWrapper {
    display: flex;
    background-color: #F2F2F7;
    border-radius: 40px;
    z-index: 999;
}

.supportChatSendMessageInputWrapper {
    background: transparent;
    border: none;
    flex-grow: 1;
    border-radius: rem(16);
}

.supportChatSendMessageInput {}

.supportChatSendMessageButton {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: rem(16);

}