.chatActions {
    background: #735AD4;
    padding: rem(5);
    display: inline-block;
    position: fixed;
    top: rem(395);
    right: 0;
    border-radius: rem(10);

    &>button {
        padding: 0;
        display: block;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }
    }
}