.supportChat {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: rem(10) rem(16) rem(16) rem(15);
    border-top: rem(1) solid var(--cyan-100);
    border-left: rem(1) solid var(--cyan-100);
    max-width: rem(375);
    width: 100%;
    background: var(--gradient-main);
    border-radius: rem(10);
}

.supportChatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.supportChatHeaderLeft {
    display: flex;
    gap: rem(10);
    align-items: center;
}

.supportChatTitle {
    font-family: var(--font-roboto), Roboto, sans-serif;
    font-size: rem(20);
    font-weight: 400;
    color: var(--white);


}


.supportChatInner {
    padding-bottom: rem(47);
    padding-top: rem(227);

}

.supportChatInnerTitle {
    font-family: var(--font-roboto), Roboto, sans-serif;
    font-size: rem(32);
    font-weight: var(--fw-medium);
    color: var(--white);
    text-align: center;


}

.supportChatInnerText {
    font-family: var(--font-roboto), Roboto, sans-serif;
    font-size: rem(18);
    font-weight: var(--fw-medium);
    color: var(--white);
    max-width: rem(264);
    text-align: center;
    margin-inline: auto;



}

.supportChatInnerBtn {
    background: var(--gradient-button);
    width: 100%;
    font-size: rem(18);
    font-weight: var(--fw-medium);
    font-family: var(--font-proxima-nova), sans-serif;
    border-radius: rem(100);
    padding-block: rem(14);
    height: auto;
    margin-top: rem(223);

}